/venv/
/.vscode/
/.idea/bath-calc-coursework.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/codeStyles/
/t-multiple/01
/t-obscure/01
/t-saturation/01
/t-single/01
/t-multiple/01.result.term
/t-obscure/01.result.term
/t-saturation/01.result.term
/t-single/01.result.term
/t-multiple/02
/t-obscure/02
/t-saturation/02
/t-single/02
/t-multiple/02.result.term
/t-obscure/02.result.term
/t-saturation/02.result.term
/t-single/02.result.term
/t-multiple/03
/t-obscure/03
/t-saturation/03
/t-single/03
/t-multiple/03.result.term
/t-obscure/03.result.term
/t-saturation/03.result.term
/t-single/03.result.term
/t-multiple/04
/t-obscure/04
/t-saturation/04
/t-single/04
/t-multiple/04.result.term
/t-obscure/04.result.term
/t-saturation/04.result.term
/t-single/04.result.term
/t-multiple/05
/t-obscure/05
/t-saturation/05
/t-single/05
/t-multiple/05.result.term
/t-obscure/05.result.term
/t-saturation/05.result.term
/t-single/05.result.term
